<app-tabella-generica 
  [data]="piattaforme" 
  [columns]="columns" 
  [azioni]="actions" 
  [pageSize]="pageSize"
  [entityName]="'piattaforme'"
  (action)="onTabellaAzione($event)"
  (paginationInfo)="aggiornaPaginazione($event)">
</app-tabella-generica>

<app-pagination-footer
  [currentPage]="paginationInfo.currentPage"
  [totalPages]="paginationInfo.totalPages"
  [pages]="paginationInfo.pages"
  [displayedItems]="paginationInfo.displayedItems"
  [totalItems]="paginationInfo.totalItems"
  [pageSize]="paginationInfo.pageSize"
  [entityName]="paginationInfo.entityName"
  (pageChange)="cambiaPagina($event)">
</app-pagination-footer>