.filtri-generici-container {
  background: #ffffff;
  border-radius: 4px;
  padding: 13px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.filtri-generici-form {
  margin-bottom: 0;
  row-gap: 0.3rem !important;
  column-gap: 0.5rem !important;
}
.filtri-generici-form .form-label {
  font-weight: 500;
  font-size: 0.92rem;
  margin-bottom: 0.1rem;
  letter-spacing: 0.03em;
  font-weight: bold;
}

/* Titolo sezione filtri */
.filtri-titolo {
  font-size: 1rem;
  font-weight: 600;
  color: #495057;
  letter-spacing: 0.04em;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control,
.form-select {
  font-size: 12px;
  padding: 0.18rem 0.5rem;
  height: 2rem;
}