<app-import-modal
  title="Aggiornamento LinkedIn Learning"
  [supportedFormats]="supportedFormats"
  [expectedHeaders]="linkedinHeaders"
  [previewData]="previewData"
  [importOptions]="linkedinImportOptions"
  [isProcessing]="isProcessing"
  [showPreview]="showPreview"
  [validationErrors]="validationErrors"
  [tableColumns]="linkedinTableColumns"
  (fileSelected)="onFileSelected($event)"
  (importOptionsChanged)="onImportOptionsChanged($event)"
  (importConfirmed)="onImportConfirmed()"
  (importCancelled)="onImportCancelled()"
  (resetRequested)="onResetRequested()">
</app-import-modal>