<a class="dropdown-toggle d-flex align-items-center gap-2" data-bs-toggle="dropdown" href="#">
  @if (isLogged) {
    <img
      class="img-xs rounded-circle"
      src="/assets/images/proxima_icon.png"
      alt="User"
      width="45"
      height="45"
    />
    <div class="d-flex flex-column align-items-start">
      <span
        class="fw-semibold text-uppercase"
        style="font-size: 0.95rem; text-decoration: none !important; color: #222;"
        >{{ userName }}</span
      >
    </div>
  } @else {
    <img
      class="img-xs rounded-circle"
      src="/assets/images/avatars/offline_user.png"
      alt="User"
      width="45"
      height="45"
    />
  }
</a>
<div class="dropdown-menu dropdown-menu-end">
  @if (!isLogged) {
    <a class="dropdown-item disabled" href="#">Settings</a>
  } @else {
    <a class="dropdown-item" routerLink="/user/settings">Settings</a>
  }

  <hr class="dropdown-divider" />

  @if (isLogged) {
    <a class="dropdown-item text-danger" routerLink="/logout"
      >Logout {{ userName }}</a
    >
  } @else {
    <a class="dropdown-item disabled" routerLink="/logout">Logout</a>
  }
</div>
