<div class="avatar-sidebar d-flex flex-column align-items-center w-100">
  @if (isLogged) {
    <img
      class="img-xs rounded-circle"
      src="/assets/images/proxima_icon.png"
      alt="User"
      width="45"
      height="45"
    />
    <span
      class="fw-semibold text-uppercase user-name-sidebar mt-2"
      >{{ userName }}</span
    >
  } @else {
    <img
      class="img-xs rounded-circle"
      src="/assets/images/avatars/offline_user.png"
      alt="User"
      width="45"
      height="45"
    />
  }
</div>
