<div class="page-container">
  <div class="page-header">

    <app-page-title [title]="'Dipendenti'" [subtitle]="'Gestione dei dipendenti disponibili'"
      [buttonText]="'Nuovo dipendente'" (buttonClick)="gestioneAzione({ tipo: 'add', item: null })"></app-page-title>
  </div>

  <div class="page-content">
    <div class="page-content-inner" #pageContentInner>
      <!-- (rowClick)="apriDettaglioCorso($event)" -->
      <app-tabella-generica
        [data]="dipendenti"
        [columns]="columns"
        [azioni]="actions"
        [pageSize]="pageSize"
        (rowClick)="gestioneAzione({ tipo: 'view', item: $event })"
        (action)="gestioneAzione($event)">
      </app-tabella-generica>
    </div>
  </div>
</div>