<div class="page-container">
  <div class="page-header">
    <app-page-title
      [title]="'Dipendenti'"
      [subtitle]="'Gestione dei dipendenti disponibili'"
      [buttons]="buttons"
      (buttonActionClick)="handleButtonClick($event)">
    </app-page-title>
  </div>
  
  <div class="page-content" #pageContentInner>
    <app-advanced-filters 
      [filtri]="filtri" 
      [valori]="valoriFiltri"
      (valoriChange)="onFiltriChange($event)"
      (filtersApplied)="onFiltersApplied($event)">
    </app-advanced-filters>
    
    <app-tabella-generica 
      [data]="dipendentiFiltrati"
      [columns]="columns"
      [azioni]="azioni"
      [pageSize]="pageSize"
      [entityName]="'dipendenti'"
      (action)="gestioneAzione($event)"
      (rowClick)="gestioneAzione({tipo: 'view', item: $event})"
      (paginationInfo)="aggiornaPaginazione($event)">
    </app-tabella-generica>

    <app-pagination-footer
      [currentPage]="paginationInfo.currentPage"
      [totalPages]="paginationInfo.totalPages"
      [pages]="paginationInfo.pages"
      [displayedItems]="paginationInfo.displayedItems"
      [totalItems]="paginationInfo.totalItems"
      [pageSize]="paginationInfo.pageSize"
      [entityName]="paginationInfo.entityName"
      (pageChange)="cambiaPagina($event)">
    </app-pagination-footer>
  </div>
</div>