<nav class="navbar navbar-expand-lg sc-primary fixed-top shadow-sm">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <img src="../../../assets/images/proxima_logo.png" alt="Logo" class="logo-img me-3"
         />
      <span class="navbar-brand logo_name fw fs-4 d-none d-md-inline">Gestionale Formazione</span>
    </div>
    <div class="d-flex align-items-center gap-3">
      <!-- Select Negozi (se il clienti ha più di un punto vendita) -->
      <!-- <app-negozio-switcher></app-negozio-switcher> -->

      <!-- <app-language-selector></app-language-selector> -->

      <!-- Avviso Notifiche -->
      <app-notification></app-notification>

      <!-- Avatar e Menu Utente -->
      <app-avatar [isLogged]="BasicAuth.isLogged()" [userName]="BasicAuth.loggedUser()"></app-avatar>
    </div>
  </div>
</nav>