<div class="app-layout">
  <!-- Utilizzare il nuovo componente sidebar -->
  <app-sidebar
    [menuItems]="menuItems"
    [isSidebarOpen]="isSidebarOpen"
    [selectedLink]="selectedLink"
    (linkSelected)="onLinkSelected($event)"
    (sidebarToggle)="onSidebarToggle()"
    (logoutClicked)="onLogout()"
  ></app-sidebar>

  <!-- Main content -->
  <main class="main-content">
    <div class="main-body">
      <!-- Router outlet for dynamic content --> 
      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- Notifications OLD -->
  <!-- <app-notification class="bell-button"></app-notification> -->
</div>