<div class="page-container">
  <div class="page-header">
    <app-page-title
      [title]="'Corsi'"
      [subtitle]="'Gestione dei corsi disponibili'"
      [buttonText]="'Nuovo Corso'"
      (buttonClick)="gestioneAzione({ tipo: 'add', item: null })"
    ></app-page-title>
  </div>
  <div class="page-content">
    <div class="page-content-inner" #pageContentInner>
      <app-filtri-generici
        [filtri]="filtri"
        [valori]="valoriFiltri"
        (valoriChange)="onFiltriChange($event)">
      </app-filtri-generici>
      <!-- (rowClick)="apriDettaglioCorso($event)" -->
      <app-tabella-generica 
        [data]="corsiFiltrati" 
        [columns]="columns" 
        [azioni]="actions"
        [pageSize]="pageSize"
        (action)="gestioneAzione($event)">
      </app-tabella-generica>
    </div>
  </div>
</div>